<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66614247301-mdsdavhbcihhrqnp4vm07e06bekdap4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66614247301-mdsdavhbcihhrqnp4vm07e06bekdap4r</string>
	<key>API_KEY</key>
	<string>AIzaSyBHRlRuc8VTPbTUkJa7AtqizjO34_Ucc8s</string>
	<key>GCM_SENDER_ID</key>
	<string>66614247301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kiliwebsite</string>
	<key>PROJECT_ID</key>
	<string>kili-app-builder-bcf1d</string>
	<key>STORAGE_BUCKET</key>
	<string>kili-app-builder-bcf1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66614247301:ios:f87171ddacd62433df4eec</string>
</dict>
</plist>